# prettier-ignore
{
  "customSyntax": "@stylelint/postcss-css-in-js",
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
		"font-family-name-quotes": "always-where-recommended",
	}
}
